@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
html {
	overflow-y: scroll;
}

body{
    background-image: url(images/fullback1025.jpg);
    background-size: 100% auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	position: relative;
	line-height: 1.6;
    overflow-x: hidden;
	padding: 2%;
	display: 'block';
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.info-input{
	margin-right: 50%;
}
/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Modal Content/Box */
.modal-content {
	font-size: 1em;
	opacity: 1;
	background-color: #fefefe;
	margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
}

.btn-logout{
	background-color: #f44336; 
	color: white;
	padding: 14px 20px;
	margin-top: 3%;
	margin-left: 3%;
	width: 20%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.btn-main{
	background-color: #4CAF50; 
	color: white;
	padding: 14px 20px;
	margin-top: 3%;
	margin-left: 3%;
	width: 20%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.btn-add{
	background-color: #D7DF01;
	color: white;
	padding: 14px 20px;
	margin-top: 3%;
	margin-left: 17%;
	width: 20%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.cancel-btn{
	background-color: #f44336; 
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	width: 100%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.add-btn{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	width: 100%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}