@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
html {
	overflow-y: scroll;
}

body{
	margin-left:auto;
	margin-right:auto;
	position: relative;
	line-height: 1.6;
    overflow-x: hidden;
	padding: 2%;
	display: 'block';
	background-image: url(images/back1025.jpg);
	background-size: 100% auto;
}

/* .btn-light:first-of-type{
    width: 50%;
    margin-left: 25%;
    margin-top: 0%; 
	font-size: 1.4em; 
    float: left;
	font-family: "Franklin Gothic Demi", sans-serif;
	color: #1a535c;
} */

.btn-logout{
	background-color: #f44336;
	margin-left: 1%;
    margin-top: 0%; 
	font-size: 1.1em; 
	float: right;
	color: #1a535c;
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.btn-back{
	background-color: #4CAF50;
	font-size: 1.1em; 
	float: right;
	color: #1a535c;
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.wrap
{
	width: 1310px;/*фиксируем ширину обертки*/
	height: 800px;/*Задаем высоту обертки*/
	margin-top: 7%;
}

.ScheduleAll {
	margin-left: 5%;
	float: left;
	width: 40%;
	/* margin-left: 50%;
	margin-right: 10%;
	margin-top: 5%; */
	background-color: rgb(230, 230, 230, 0.85);
	border: 3px solid #cccccc;
}

.Schedule {
	white-space: right;
	width: 96%;
	word-spacing: 10px;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 18px;
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
	line-height: 25px;
	background-color: rgb(230, 230, 230);
	border: 3px solid #cccccc;
    border-radius: 4px;
    text-align: center; 
}

.y-map {
	margin-left: 10%;
	float: left;
	/* margin-top: 50px;
	margin-left: 50px; */
	width: 500px;
	height: 400px;

}

@media (max-width:870px){
	.btn-back{
		margin-left:45%;
	}
	.ScheduleAll {
		margin-left:25%;
		width: 50%;
		margin-top:10%;
	}


}

@media (max-width:780px){
	.btn-back{
		margin-left:45%;
	}
	.ScheduleAll {
		margin-left:20%;
		width: 60%;
		margin-top:10%;
	}


}

@media (max-width:580px){
	.btn-back{
		margin-left:45%;
	}
	.ScheduleAll {
		margin-left:15%;
		width: 70%;
		margin-top:15%;
	}


}

@media (max-width:300px){
	.btn-back{
		margin-left:25%;
	}
	.ScheduleAll {
		margin-top:20%;
	}


}